:root{
    --list_width:500px;
}
html{
    background-color: #f2d8e8;
    color:rgb(157, 67, 112);
}
.container{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h3,p{
    padding: 0;
    margin:0
}
ul{
    list-style: none;
}
ul div{
    width: 400px;
    padding: 20px;
    height: 50px;
    margin-bottom:10px;
    background-color: #f084c7;
}
ul li{
    height:40px;
    overflow:scroll;
}
ul div:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px #888;

}
